<div class="leaderboard">
    <div class="leaderboard__header clearfix">
        <div class="leaderboard__logo">LEADERBOARD</div>
        <button class="leaderboard__nav-ctrl" ng-click="$ctrl.toggleGameList()">Toggle gamelist<span></span></button>
        <ul class="leaderboard__tab-ctrl leaderboard__tab-ctrl_wide">
            <li class="leaderboard__tab-item"
                ng-repeat="period in $ctrl.periods"
                ng-class="{'leaderboard__tab-item_active' : (period === $ctrl.activePeriod) }">
                <a href="#" class="leaderboard__tab-link" ng-click="$ctrl.setActivePeriod(period,$event)">{{period.text}}</a>
            </li>
        </ul>
    </div>
    <ul class="leaderboard__tab-ctrl leaderboard__tab-ctrl_narrow">
        <li class="leaderboard__tab-item"
            ng-repeat="period in $ctrl.periods"
            ng-class="{'leaderboard__tab-item_active' : (period === $ctrl.activePeriod) }">

            <a href="#" class="leaderboard__tab-link"
               ng-click="$ctrl.setActivePeriod(period,$event)">
                {{period.text}}
            </a>
        </li>
    </ul>
    <div class="leaderboard__persons" ng-scrollbars ng-scrollbars-update="$ctrl.updateScrollbar" ng-scrollbars-config="$ctrl.personsScrollbarsConfig" >
        <ul class="leaderboard__list">
            <li class="leaderboard__item" ng-repeat="item in $ctrl.leaderboard | orderBy: '-game_count'">
                <div class="leaderboard__card clearfix"
                     ng-class="{
                        leaderboard__card_gold: $index === 0,
                        leaderboard__card_silver: $index === 1,
                        leaderboard__card_bronze: $index === 2
                     }">
                    <div class="leaderboard__card-badge" ng-if="$index < 3"></div>
                    <div class="leaderboard__card-position">{{$index + 1}}</div>
                    <div class="leaderboard__card-border">
                        <div class="leaderboard__card-cover">
                            <img ng-src="{{item.img_src}}" alt="{{item.first_name}} {{item.last_name}}" width="73" height="73">
                        </div>
                    </div>
                    <div class="leaderboard__card-fullname">
                        {{item.first_name}}<br />{{item.last_name}}
                    </div>
                    <div class="leaderboard__card-count">
                        {{item.game_count}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="leaderboard__games" ng-scrollbars ng-scrollbars-config = "$ctrl.gamelistScrollbarsConfig" >
        <ul class="leaderboard__gamelist">
            <li class="leaderboard__gamelist-item"
                ng-repeat="game in $ctrl.games"
                ng-class="{'leaderboard__gamelist-item_active' : (game === $ctrl.activeGame)}">

                <a href="#" class="leaderboard__gamelist-link"
                   ng-click="$ctrl.setActiveGame(game, $event)">
                    {{game.text}}
                </a>
            </li>
        </ul>
    </div>
</div>