/*!** arkadium --> fonts **!*/

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue.eot');
	src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
			url('../fonts/HelveticaNeue.woff2') format('woff2'),
			url('../fonts/HelveticaNeue.woff') format('woff'),
			url('../fonts/HelveticaNeue.ttf') format('truetype'),
			url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Candara-Bold';
	src: url('../fonts/Candara-Bold.eot');
	src: url('../fonts/Candara-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Candara-Bold.woff2') format('woff2'),
		 url('../fonts/Candara-Bold.woff') format('woff'),
		 url('../fonts/Candara-Bold.ttf') format('truetype'),
		 url('../fonts/Candara-Bold.svg#Candara-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*!** arkadium --> end of fonts **!*/