/*!** arkadium --> main **!*/

*
	line-height: 1
	outline: none !important

.clearfix
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both

html
body
	height: 100%
	min-width: 300px

/*!** arkadium --> end of main **!*/